
	<label for="fc_name">Name</label>
	<input type="text" name="fc[name]" id="fc_name" value="<%=@fc.name%>">
	<br>
	<% @users.each do |user| %>
		<input
			type="checkbox"
			name="friends[]"
			id="<%="friend#{user.id}"%>"
			value="<%=user.id%>"
			<%= checked="checked" if @fc.members.include?(user) %>
		>
		<label for="<%="friend#{user.id}"%>"><%=user.username%></label>
		<br>
	<% end # end @users.each %>
	<br>
	<input type="hidden" name="friends[]" value="">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
